
<!doctype html>
<html>

<head>

    <meta charset="UTF-8">
    <title></title>

    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">


    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="_css/style.css" type="text/css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>



</head>
<body>

<div class="notice">
    <span class="close">x</span>
    <strong>Notice:</strong> If you have noticed this notice, please click 'x' to close.
</div>

<header class="header-main">
    <img class="logo" src="_img/logo.png" alt="Serosensa Creative">
</header>

<nav class="nav-main">

    <ul id="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Styles</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</nav>

<img class="nav-divider" src="_img/divider.png" alt="">




<div class="content-main">

    <h1>
<!--    TODO - change this greeting     -->
        It's <span class="current-time"></span>
        <div class="greeting"></div>
    </h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo teur sint occaecat cupinsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo teur sint occaecat cupinsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

    <h3>Header 3</h3>

    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    <div class= "galleryContainer">
      <img class= "gallery"  src="_img/hotbox1.jpg"> 
      <img class= "gallery"  src="_img/hotbox2.jpg">
      <img class= "gallery"  src="_img/hotbox3.jpg">
      <img class= "gallery"  src="_img/hotbox4.jpg">





    </div>

    <h2>News</h2>

    <div id="newsItems">



  </div>

</div>



<footer class="footer-main">
    &copy; Serosensa
</footer>

<script src="app.js"></script>

</body>



</html>
